# Maven
backend/target/

# Node
frontend/dist/
frontend/node_modules/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
.env

# Docker data
mysql-data/
redis-data/
es-data/
minio-data/
backend-logs/
prometheus-data/
grafana-data/
loki-data/
maven-cache/

# Certificates
config/certs/

# Logs
*.log
